.header__lang-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.16;
  text-align: right;
  text-decoration-line: underline;
  color: #ffffff;
  transition: opacity 0.2s linear;
}
.header__lang-link:hover {
  opacity: 0.6;
  text-decoration: underline;
}
@media screen and (max-width: 320px) {
  .header__lang-link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 111%;
    text-align: right;
    text-decoration-line: underline;
  }
}
@media screen and (max-width: 200px) {
  .header__lang-link {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 111%;
    text-align: right;
    text-decoration-line: underline;
  }
}
