.cover__link{
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 720px;

  }
}
@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 560px;
  }
}
@media screen and (max-width: 384px) {
  .cover__link {
    max-width: 320px;

  }
}
