.place__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  max-width: 440px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .place__title  {
    font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 110%;
width: 328px;

  }
}
@media screen and (max-width: 320px) {
  .place__title{
    width:calc(100% - 32px);
    margin:0 auto;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 32px;}
}
