.page {
  max-width: 1280px;
  padding-top: 28px;
  padding-bottom: 24px;
  -webkit-font-smoothing: antialiased;
  background-color: #2a2c2f;
  margin: 0 auto;
  position: relative;
  font-family: "Inter";
  color: #ffffff;
  font-family:"Inter", "Arial ", sans-serif;
}

@media screen and (max-width: 1024px) {
  .page {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .page {
    max-width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .page {
    padding-top: 16px;
    max-width: 320px;
  }
}
