.photo-grid {
  margin: 0 auto;
  max-width: calc(100% - 96px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  box-sizing: border-box;
  gap: 16px;
  padding: 0;
  list-style-type: none;
}
@media screen and (max-width: 1124px) {
  .photo-grid {
    max-width: calc(100% - 2 * 48px);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}
@media screen and (max-width: 950px) {
  .photo-grid {
    max-width: 616px;
    width: calc(100% - 2 * 24px);
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 16px;
  }
}
@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    width: calc(100% - 2 * 24px);
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 16px;
  }
}
@media screen and (max-width: 480px) {
  .photo-grid {
    max-width: 420px;
    width: calc(100% - 2 * 24px);
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    gap: 16px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    margin: 0 16px 30px 16px;
    width: calc(100% - 32px);
    grid-template-columns: repeat(1, 1fr);
    row-gap: 12px;
  }
}
