.places {
  max-width: 980px;
  margin:92px auto;
}
@media screen and (max-width: 1024px) {
  .places  {
    grid-template-columns: repeat(3, 1fr);
    max-width: 925px;
  }
}
@media screen and (max-width: 768px) {
  .places {
    max-width: 718px;
    margin:88px auto -29px auto;

  }
}
@media screen and (max-width: 480px) {
  .places {
    margin-bottom: 50px;
    max-width: 480px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    margin:92px 0;
  }
}
