.body{
  background-color: #2a2c2f;
}
.root {
  width: 1280px;
  -webkit-font-smoothing: antialiased;
  background-color: #2a2c2f;
  margin: 0 auto;
  position: relative;
  font-family: Inter;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 24px;
}













