.intro__list {
  max-width: 690px;
  font-family: "Inter","Arial",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 92px;
  padding-left: 0px;
  list-style-type:none;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .intro__list {
    padding: 32px 0px 92px 48px;
  }
}
@media screen and (max-width: 768px) {
  .intro__list {
    max-width: 288px;
    padding-top: 34px;
    padding-bottom: 88px;
    padding-left: 24px;
  }
}
@media screen and (max-width: 480px) {
  .intro__list {
    padding: 34px 0 64px 24px;
  }
}
@media screen and (max-width: 320px) {
  .intro__list {
    max-width: calc(100% - 16px);
    padding: 34px 0 64px 16px;
  }
}
