.lead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width:calc(100% - 96px);
  padding-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .lead  {
    padding-bottom: 88px;
    width:calc(100% - 48px);
  }
}
@media screen and (max-width: 768px) {
  .lead  {
    padding-bottom: 88px;
    width:100%;
  }
}
@media screen and (max-width: 480px) {
  .lead  {
    padding-bottom: 64px;
    width:100%;
  }
}
@media screen and (max-width: 320px) {
  .lead {
    padding-bottom: 64px;
    width:100%;
  }
}
