.lead {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width:calc(100% - 2*148px);
  padding-bottom: 92px;
}
@media screen and (max-width: 1024px) {
  .lead  {
    padding-bottom: 92px;
    max-width:calc(100% - 96px);
  }
}
@media screen and (max-width: 768px) {
  .lead  {
    padding-bottom: 88px;
    max-width:100%;
  }
}
@media screen and (max-width: 480px) {
  .lead  {
    padding-bottom: 64px;
  }
}
