.cover__subtitle {
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  margin: 0;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .cover__subtitle {
    max-width:calc(100% - 32px);
    font-size: 14px;
    line-height: 114%;
  }
}
@media screen and (max-width: 200px) {
  .cover__subtitle {
    font-size: 10px;
  }
}
