.cover__backgraund {
  margin: 0 auto;
  background-image: url(../../../images/cover-trains.jpg);
  max-width: calc(100% - 96px);
  max-height: 740px;
  object-fit: cover;
  background-size: cover;
  height: auto;
}
.cover__backgraund:hover .cover__overlay {
  transition: 1s linear;
  background-color: rgba(42, 44, 47, 0.8);
  box-shadow: 0 0 80px 80px rgb(42, 44, 47) inset;
}
@media screen and (max-width: 1024px) {
  .cover__backgraund  {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .cover__backgraund  {
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .cover__backgraund {
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .cover__backgraund {
    max-width: 100%;
  }
}
