.photo-grid__item {
  max-width: 284px;
  min-height: 213px;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .photo-grid__item  {
  max-width: 100%;}
}
@media screen and (max-width: 1024px) {
  .photo-grid__item  {
  min-height: auto;
}
}
@media screen and (max-width: 480px) {
  .photo-grid__item {
    min-height: 220px;
  }
}
@media screen and (max-width: 320px) {
  .photo-grid__item {
    min-height: auto;
  }
}
