.header {
  margin: 0 auto;
  padding-bottom: 56px;
  max-width: calc(100% - 96px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .header {
    max-width: calc(100% - 48px);
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: calc(100% - 48px);
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    margin: 0 auto;
    max-width:calc(100% - 32px);
  }
}
