.content {
  max-width: 1280px;

}
@media screen and (max-width: 1024px) {
  .content {
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    max-width: 768px;
  }
}
@media screen and (max-width: 384px) {
  .content {
    max-width: 384px;
  }
}
