.place__paragraph {
  font-family: "Inter";
  max-width: 460px;
  display: inline-block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #ffffff;
  margin-bottom: 26px;
}
@media screen and (max-width: 1024px) {
  .place__paragraph {
  font-size: 16px;
  line-height: 1.6;
  padding: 0 16px;
  }
}
@media screen and (max-width:320px){
  .place__paragraph{
  width:calc(100% - 32px);
  margin-left: 16px;}
}
