.place__paragraph {
  font-family: "Inter";
  width: 484px;
  display: inline-block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 26px;
}
@media screen and (max-width: 1024px) {
  .place__paragraph {
    width: 448px;
  }
}
@media screen and (max-width:768px){
  .place__paragraph{
    width: 352px;
    font-size: 16px;
    line-height: 163%;
    margin-bottom: 25px;
  }
}
@media screen and (max-width:320px){
  .place__paragraph{
  width:calc(100% - 32px);
  padding: 0 16px;
  }
}
