.lead__image {
  margin: 64px auto 0 auto;
  width: 984px;
  object-fit: cover;
  background-size: cover;
  height: 615px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
}
@media screen and (max-width: 1024px) {
  .lead__image  {
    margin: 56px auto 0 auto;
    max-width: 928px;
    max-height: 560px;
  }
}
@media screen and (max-width: 768px) {
  .lead__image  {
    max-width: 768px;
    max-height: 480px;
    margin: 56px auto 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .lead__image {
    margin: 40px auto 0 auto;
    max-width: 320px;
    max-height: 200px;
  }
}
