@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src:local('Inter'), url(../inter/Inter-Regular.woff2) format('woff2'),
  url(../inter/Inter-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src:local('Inter'), url(../inter/Inter-Bold.woff2) format('woff2'),
  url(../inter/Inter-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src:local('Inter'),url(../inter/Inter-Black.woff2) format('woff2'),
  url(../inter/Inter-Black.woff) format('woff');
}
