.place__link {
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  color: #ffffff;
  transition: opacity 0.5s linear;
  margin-top: 7px;
}

.place__link:hover {
  opacity: 0.8;
  text-decoration-line: none;
}
@media screen and (max-width: 320px) {
  .place__link {
    width: calc(100% - 32px);
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 200px) {
  .place__link {
    font-size: 10px;
  }
}
