.lead__caption {
  padding-top: 8px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #ffffff;
  align-self: start;
  text-align: start;
}
@media screen and (max-width:1024px){
  .lead__caption{
    margin: 0;}
}
@media screen and (max-width:768px){
  .lead__caption{
  padding-left: 24px;}
}
@media screen and (max-width:480px){
  .lead__caption{
  padding-left: 16px;}
}

