.cover__title {
  font-family: "Inter", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  max-width: 560px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 32px;
  z-index: 1;
}
@media screen and (max-width: 505px){
.cover__title {
    font-size: 12vw;
}}
@media screen and (max-width: 480px) {
  .cover__title {
    max-width: 100%;
    font-size: 32px;
    line-height: 109%;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 200px) {
  .cover__title {
    font-size: 20px;
  }
}
